@model IEnumerable<examProject21.Models.ExamClass>

@{
    ViewData["Title"] = "Index";
}
 <br/>
<h1>Daily Consumption Readings</h1>
<hr/>
<br/>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Enter your address...." value="@ViewData["Getdetails"]" name="Empsearch" style="width:500px;"/>
        <input type="submit" value="Search" class="btn btn-primary"/> |
        <a asp-action="Index">Get all Records</a>
    </p>
    <br/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.energy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.water)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mUnit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.energy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.water)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mUnit)
            </td>
        </tr>
}
    </tbody>
</table>
